html{
	background-color: grey;
	box-sizing: border-box;
}

body{
	background-color: #EDF2C5;
	width: 1260px;
	height:880px;
	margin:0 auto; 
		
}

.background{
	background-color: #EDF2C5;
	margin-left: 160Px;
	margin-right: 160px;
}

.header{
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

#vegetables{
	display: flex;
	float: left;
	font-family: "Arial Black";
	font-size: 36px;
	color: #778A50;
	margin-top: 53px;
	margin-bottom: 8px;
	height: 42px;
	width: 271px;
}

.icon{
	box-sizing: border-box;
	color: #778A50;
	font-family: "Arial Black";
	font-size: 12px;
	height: 25px;
	width:200px; 
	display: flex;
	margin-left:468px; 
	margin-top: 61px;
	box-sizing: border-box;
}

#fb{
	width: 25px;
	margin-right: 10px;
}


#ig{
	width: 25px;
	margin-right: 10px;
}

.lineone{
	width:1px;
	height: 25px;
	border-right:solid #778A50 1px;
	display: flex;
	margin:0 0; 
}

#login{
	margin-left: 10px;
	width: 60px;
	font-size: 14px;
	font-weight: "Bold";
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: flex;
	justify-content: center;
}

#join{
	margin-left: 10px;
	width: 50px;
	font-size: 14px;
	font-weight: "Bold";
	border-width: 1px;
	border-style: solid;
	display: flex;
	justify-content: center;
}

.navbanner{	
	display: flex;
	box-sizing: border-box;
	background-color: #778A50;
	width: 940px;
	height: 44px;
	margin-bottom: 20px;
	align-items: center;
}

ul{
	padding-left:0px; 
	box-sizing: border-box;
}

li{
	display: inline-flex;
	color: #EDF2C5;
	font-size: 16px;
	font-family: "Arial Black";
	list-style: none;
	margin-left: 30px;
	margin-right: 30px;
}

.pumpkin{
	display: flex;
	margin-bottom: 30px;
	width: 940px;
	height:448px;
}

.banner{
	display:flex;
	box-sizing: border-box;
	background-color: #778A50;
	width: 445px;
	height: 45px;
	margin-bottom: 15px;
}

.leftword{
	display:flex;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Arial Black";
	color: #EDF2C5;
	margin-top: 15px;
	margin-left: 30px;
}

.rightword{
	display:flex;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Arial Black";
	color: #EDF2C5;
	margin-top: 15px;
	margin-left: 30px;
}

.pepper,
.carrot,
.corn{
	box-sizing: border-box;
	width: 140px;
	height: 140px;
}

.article{
	flex-direction: column;
	display: flex;
	box-sizing: border-box;
	width: 445px;
	height: 140px;
	background-color: #F7FBDA;
	font-size: 12px;
	font-family: "Arial";
	font-weight:: "Regular";
	color: #7D7D7D;
	margin-bottom: 35px;
}

.leftside{
	flex-direction: column;
	display: flex;
	float: left;
}

.pepper{
	margin-right: 12px
}

.carrot{
	margin-right: 12px
}

.rightside{
	flex-direction: column;
	display: flex;
	float: right;
}

#articlea{
	display: flex;
	box-sizing: border-box;
	margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 1.33;
}

.linetwo{
	width:414px;
	height: 1px;
	border-bottom: solid #7D7D7D 1px;
	display: flex;
	margin:0 0; 
	padding-left: 15px;
	margin:0 auto; 
}

#articleb{
	display: flex;
	box-sizing: border-box;
	line-height: 1.33;
	margin-left: 15px;
	margin-top: 16px;
}

footer{
	box-sizing: border-box;
	display: flex;
	font-size: 12px;
	font-family: "Arial";
	font-weight:: "Regular";
	color: #EDF2C5;
	background-color: #778A50;
	width: 1264px;
	height: 60px;
	padding-left: 479px;
	padding-top: 24px;
}